@import "../../../styles/settings.scss";

.root {
  width: 100%;
 }

.postsGrid {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column-reverse;
  //flex-direction: column;
  
  height: 100%;

/*  gap: 12px;
  height:80vh;*/
}

.widthCard {
  flex: 1 1 70px;
  margin-top: 10px;
  height: 50px;
}

.links {
  text-decoration: none;
  color:midnightblue;
}
.links:hover { color: blue }


@media only screen and (max-width: 992px) {
  .postsGrid {
    overflow: scroll;
  }
}